// Theme Color
$base-color:#f67280;
$white-color:#ffffff;
$dark-color:#152035;
$text-color:#506172;
$light-color:#F9F9FF;
$eee:#eee;
$bg-hover:#2b2b2b;
$bg-color:#1d1d1d;
$font-color:#d9d9d9;

//font-size
$f-s-h1: 40px;
$f-s-h2: 36px;
$f-s-h3: 28px;
$f-s-h4: 24px;
$f-s-h5: 20px;
$f-s-h6: 16px;
$f-s-p: 16px;

//Line-height
$line-height-base: 1.4;
$line-height: 1.5;

//border-raduis
$rd:5px;
$rd-round:20px;
$rd-circle: 50%;





